{% extends "base.html" %}


{% block body_content %}

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Glen Ferguson, Ph.D</span>
          </h1>
          <div class="subheading mb-5">Data Scientist · Greater New York Area ·
            <a href="mailto:glen@ferguson76.com">glen at ferguson76 dot com</a>
          </div>
          <p class="lead mb-5">I work as a Data Scientist using Machine Learning and Data to drive improvements in Key Performence Indicators. In my current and previous positions, I have solved difficult problems in multiple areas including: basic surface science, fine art materials, healthcare operations, and patient care. I use machine learning (including deep learning, computer visions, and NLP) to develop actionable results starting from poorly-scoped problems.

</p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/glenferguson/">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/gafergus">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Data Scientist</h3>
              <div class="subheading mb-3">Caserta Comcepts LLC</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2019 - Present</span>
            </div>
          </div>

	  <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Data Scientist/Instuctor of Medicine</h3>
              <div class="subheading mb-3">Albert Einstein College of Medicine</div>
                <ul>
                   <li>
                     Predictive modeling to optimize hospital operations for multiple areas including reducing the rate of missed appointments by understanding and predicting patient behavior (deep learning, boosting, regression, Keras, sci-kit learn, pandas)
                   </li>
                   <li>
                     Developed a python framework to automate selecting machine learning models (sci-kit learn, pandas, pyspark, hyperopt, matplitlip, seaborn, others)
                   </li>
                   <li>
                     Developed a Keras-based computer vision framework to classify medical images and visual exploration of network attention and activation (keras, tensorflow, SHAP, keras-vis, opencv, imagio, others)
                   </li>
                   <li>
                     Used Natural Language Precessing to automate diagnosis from radiology reports using free-text (keras, tensorflow, gensim, spacy, nltk)
                   </li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2018 - May 2019</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Freelance Data Scientist</h3>
              <div class="subheading mb-3">Self Employed</div>
                <ul>
                  <li>
		    Chemioinformatics to determine if matrials are suitable for use in the long-term storage of cultural heritage (open babel, RDKit)
                  </li>
                  <li>
		    Unsupervised learning to identify gases from materials that degrade artwork, see publications below (agglomerative clustering, DBSCAN, K-means, Birch, Ward Hierarchical Clustering)
                  </li>
                  <li>
		    Automation of NMR pre-processing and analysis (deconvolution of spectra, peak finding)
                  </li>
                </ul>
              </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">April 2017 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Associate Director</h3>
              <div class="subheading mb-3">Michael J. Fox Foundation</div>
                <ul>
		  <li>
		     Managed 5 million dollars in grants for the data science and digital health programs to identify markers of disease progression
		  </li>
                  <li>
		     Defined strategy for the data science and digital health initiatives
		  </li>
		</ul>
              </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">July 2017 - January 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Data Science Fellow</h3>
              <div class="subheading mb-3">NYC Data Science Academy</div>
                <ul>
                  <li>
                    Designing and built an automated location and activity classification system that uses millions of smart phone sensor data observations to detect home and work locations and track commute elements (Cluster analysis, Random Forest, Boosting, Keras NN, stacked models, Bayesian optimization, and Boosting)
                  </li>
		  <li>
		    Deployed data product using R Shiny to provide insight into global industry changes based on 40 years of worldwide wine trade data; used by wine industry professionals to understand the wine market
		  </li>
		  <li>
		    Identified key sales drivers for audiobooks using statistical analysis of over 200,000 scraped audiobook-reviews (Scrapy, pandas, scipy, numpy, and Seaborn)
		  </li>
		  <li>
		    Developed model explaining how to transform rental listing impact, through a suite of machine learning models (logistic regression, random forest, gradient boosting, tensorflow) that clarified rental listing interest level by understanding class imbalances
		  </li>
                </ul>
              </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2017 - April 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Engineer III, Postdoctoral Appointment</h3>
              <div class="subheading mb-3">National Renewable Energy Laboratory</div>
                <ul>
		  <li>
		    Developed statistical methods to model effects of ~30,000 candidate materials, supported discovery of new batteries for industrial and consumer applications, in support of ARPA-E grant
		  </li>
		  <li>
		    Enabled rapid material engineering, by leading a team of engineers to develop <a href="https://spe.nrel.gov/">Surface Phase Explorer</a>, an open source web-based tool that automates statistical analysis of surfaces
		  </li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2013 - February 2016</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Scientist III, Postdoctoral Appointment</h3>
              <div class="subheading mb-3">Argonne National Laboratory</div>
                <ul>
		  <li>
		    Modeled components for new lithium-based batteries leading to a new understanding of component performance that improves battery energy-density and safety
		  </li>
		  <li>
		    Discovered reactions that drive energy production from water by implementing new modeling methods for atomic-scale materials
		  </li>
		  <li>
		    Initiated and designed materials prediction methods that were incorporated into a national Department of Energy program to transform energy storage technology
		  </li>
                </ul>
              </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">February 2010 - February 2013</span>
            </div>
          </div>

        </div>

      </section>


      <main>
{#      <aside style="background-image: url({{ url_for('static', filename='img/profile_big.jpg')}})"></aside>#}
        <a href="index.html" class="home-button"><span class="fa fa-home"></span></a>
        <h1 class="mb-5">Experience</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>Product Designer, Google</h3>
              <p class="date">Sep 2017 - Present</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorum dolore culpa libero delectus excepturi! Repellat dolore, sapiente officia quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorum dolore culpa libero delectus excepturi! Repellat dolore, sapiente officia quod.</p>
            </li>
            <li>
              <h3>User Experience Director, Facebook</h3>
              <p class="date">Jan 2016 - Sep 2017</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorum dolore culpa libero delectus excepturi! Repellat dolore, sapiente officia quod.</p>
            </li>

            <li>
              <h3>Mobile Application Designer, Yahoo</h3>
              <p class="date">Nov 2015 - Jan 2016</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorum dolore culpa libero delectus excepturi! Repellat dolore, sapiente officia quod.</p>
            </li>
            <li>
              <h3>Product Designer, Medium</h3>
              <p class="date">Feb 2013 - Nov 2015</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorum dolore culpa libero delectus excepturi! Repellat dolore, sapiente officia quod.</p>
            </li>
          </ul>
        </div>


        <h1 class="mb-5">Education</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>Harvard University</h3>
              <p class="date">2010 - 2014</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorum dolore culpa libero delectus excepturi! Repellat dolore, sapiente officia quod.</p>
            </li>

          </ul>
        </div>

      </main>
<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">Michoel Snow, M.D. Ph.D.</h1>
        <h3 class="mb-5">
            <em>Data Scientist · New York · MichoelSnow At Gmail Dot Com</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our
                    friends at
                    <a href="https://unsplash.com/">Unsplash</a>!</p>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
                <h4>
                    <strong>Responsive</strong>
                </h4>
                <p class="text-faded mb-0">Looks great on any screen size!</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
                <h4>
                    <strong>Redesigned</strong>
                </h4>
                <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
                <h4>
                    <strong>Favorited</strong>
                </h4>
                <p class="text-faded mb-0">Millions of users
                    <i class="fas fa-heart"></i>
                    Start Bootstrap!</p>
            </div>
            <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
                <h4>
                    <strong>Question</strong>
                </h4>
                <p class="text-faded mb-0">I mustache you a question...</p>
            </div>
        </div>
    </div>
</section>

<!-- Callout -->
<section class="callout">
    <div class="container text-center">
        <h2 class="mx-auto mb-5">Welcome to
            <em>your</em>
            next website!</h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download
            Now!</a>
    </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Stationary</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-1.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-2.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-3.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
                    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio-4.jpg') }}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="content-section bg-primary text-white">
    <div class="container text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
        <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
</section>

<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br/>
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
</section>

{% endblock %}




